<?xml version="1.0"?>
<ruleset name="PHP_CodeSniffer">
    <description>The coding standard for Drola/Wasm..</description>
    <file>src</file>
    <file>tests</file>
    <rule ref="PSR2"></rule>
</ruleset>

